<nav class="sticky top-0 z-40 backdrop-blur-md bg-gray-200/25">
  <div class="container flex justify-between border-b border-gray-300">
    <a href="/" class="py-5 px-2.5 -mx-2.5 flex items-center gap-2.5 group"
      ><span
        class="block rounded-full bg-black w-2.5 h-2.5 transition-default group-hover:bg-green-700"
      ></span>Our Services</a
    >
    <a href="/" class="py-5 px-2.5 -mx-2.5">Let's work together</a>
  </div>
</nav>
