---
import PlusIcon from "@assets/plus.svg";

interface Props {
  name: string;
  title: string;
  description: string;
}

const { name, title, description }: Props = Astro.props;
---

<details
  name={name}
  class="border-b-2 border-gray-300 open:[&_.plus-icon]:rotate-45 [&_.plus-icon]:transform [&_.plus-icon]:duration-500"
>
  <summary
    class="py-10 cursor-pointer flex items-center justify-between w-full font-medium"
  >
    {title}
    <PlusIcon class="plus-icon w-5 h-5 fill-gray-600" />
  </summary>
  <p class="pb-6">{description}</p>
</details>
